*{
    font-size: 13pt; color: black;
    font-family:monospace;
}

main {
    background-color: aliceblue;
    width: 500px;
    padding: 15pt;
    margin: auto;
    box-shadow: 3px 3px 5px; color: #000;
}

a {
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}

h1{
    font-size: 27px;
    color: #000;
}

h2{
    background-color: aliceblue;
    width: 400px;
    padding: 15pt;
    margin: auto;
    box-shadow: 3px 3px 5px; color: #000;
}